<div id="modal-create" class="modal modal-small fixed-left fade shadow-sm" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-aside" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create schedule</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="row">

          <div class="col">

            <form id="form-create">
              <div class="form-group">
                <label for="input-description">Description</label>
                <input type="text" class="form-control" name="description" id="input-description" placeholder="">
              </div>
              <div class="form-group">
                <label for="input-schedule">Schedule</label>
                <input type="text" class="form-control" name="schedule" id="input-schedule" placeholder="">
              </div>
              <div class="form-group">
                <label for="input-tasklet">Tasklet name</label>
                <input type="text" class="form-control" name="tasklet" id="input-tasklet" placeholder="">
              </div>
              <div class="form-group">
                <label for="input-stream">Run stream</label>
                <input type="text" class="form-control" name="stream" id="input-stream" value="Default" placeholder="">
              </div>
              <div class="form-group">
                <label for="input-cycle">Run cycle</label>
                <input type="text" class="form-control" name="cycle" id="input-cycle" value="Common" placeholder="">
              </div>
              <div class="form-group">
                <label for="input-run-description">Run description</label>
                <input type="text" class="form-control" name="run_description" id="input-run-description" value="" placeholder="">
              </div>
              <div class="form-group">
                <label for="input-worker">Run worker</label>
                <input type="text" class="form-control" name="worker" id="input-worker" value="tasklets-worker" placeholder="">
              </div>
              <div class="form-group">
                <label for="input-kvargs">Run KVargs JSON</label>
                <input type="text" class="form-control" name="kvargs" id="input-kvargs" value="{}" placeholder="">
              </div>

            </form>

          </div> <!-- col -->
        </div> <!-- row -->

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="btn-save">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
