<div id="modal-cycle-create" class="modal modal-small fixed-left fade shadow-sm" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-aside" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add cycle</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="row">

          <div class="col">

            <form id="form-cycle-create">
              <div class="form-group">
                <label for="input-name">Name</label>
                <input type="text" class="form-control" name="name" id="input-name" placeholder="">
              </div>
              <input type="hidden" name="stream" value="{{ active_stream|e }}">
            </form>

          </div> <!-- col -->
        </div> <!-- row -->

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="btn-cycle-save">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
